<nav class="navbar navbar-expand-md  navbar-dark fixed-top" style="background-color: #2F5D62;">
	<a class="navbar-brand" href="{{path('home')}}">
		Ma Super Agence</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon">></button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{{path('home')}}">Nos Annonces
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#">Qui sommes-nous?
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#">Nous contacter
						<span class="sr-only">(current)</span>
					</a>
				</li>
			</ul>
			<div class="">
				<a href="#">Se connecter |</a>
				<a href="#">S'inscrire
				</a>

			</div>

		</div>
	</nav>
